[submodule "partnerclient"]
	path = partnerclient
	url = git@github.com:mukund9900/partnerclient.git
[submodule "partnerserver"]
	path = partnerserver
	url = git@github.com:mukund9900/partnerserver.git
